@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.tags-cloud {
    position: relative;
    top: calc(50% - 30vmin);
    left: calc(50% - 30vmin);
    height: 50vmin;
    width: 50vmin;
    list-style: none;
    opacity: 0;
}

.tags-cloud.-loaded {
    animation: fadeIn 1s ease-out forwards;
}

.tags-cloud>.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5vmin;
    font-weight: bold;
    transition: transform .5s linear, opacity .5s linear;
}

.tags-cloud>.tag>.wrap {
    display: inline-block;
    transform: translateX(-50%) translateY(-50%);
}